body {
  background-color: #ededed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

#left-section{
  margin-right: 20px;
}
.container {
  width: 500px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  display: inline-grid;
  box-shadow: 21px 21px 43px #c9c9c9, -21px -21px 43px #ffffff;
}
.boxes {
  background-color: rgb(255, 255, 255);
  /* border-radius: 10px; */
}

.btn {
  margin: 20px 20px 0 0 ;
  padding: 10px 20px;
  border-radius: 7px;
  font-weight: bold;
  border: 1px solid rgb(160, 160, 160);
  text-align: center;
}

.btn:hover{
  cursor: pointer;
}

#rainbow-color{
  background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    
}

.slidecontainer {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-value {
  padding: 5px 10px;
  background-color: #000000;
  border-radius: 5px;
  color: white;
  width: 100px;
  width: auto;
}

.slider {
  -webkit-appearance: none;
  width: 120px;
  height: 10px;
  margin-bottom: 5px;
  background: #d3d3d3;
  border-radius: 20px;
  /* outline: none; */
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:20px;
  height:20px;
  background: #000000;
  border-radius: 50px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;

button {
  box-shadow: 5px 5px 13px #c7c7c7, -5px -5px 13px #f9f9f9;
}


@media only screen and (max-width: 600px) {
  main{
    display: block;
  }

  .container{
    width: 100%;
  }
}